<script type="text/html" id="stream-filter-tmpl">
  <%= erb :'home/partials/stream_filter', { layout: false }, { stream: {} } %>
</script>
<script type="text/html" id="system-stream-filter-tmpl">
  <%= erb :'home/partials/system_stream_filter', { layout: false }, { stream: nil } %>
</script>
<script type="text/html" id="event-type-filter-tmpl">
  <%= erb :'home/partials/event_filter', { layout: false }, { event_type: '' } %>
</script>

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Events lookup</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row" style="display: block;">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Filters</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br/>
            <form id="filters-form" action="<%= url('/') %>" method="GET" data-parsley-validate class="form-horizontal form-label-left">
              <input type="hidden" name="per_page" value="<%= params[:per_page].to_i %>">
              <input type="hidden" name="resolve_link_tos" value="<%= resolve_link_tos? %>">
              <div class="system-stream-filter">
                <% if system_stream %>
                  <%= erb :'home/partials/system_stream_filter', { layout: false }, { stream: system_stream } %>
                <% end %>
              </div>
              <div class="stream-filters">
                <% streams_filter&.each do |attrs| %>
                  <%= erb :'home/partials/stream_filter', { layout: false }, { stream: attrs } %>
                <% end %>
              </div>
              <div class="event-filters">
                <% events_filter&.each do |event_type| %>
                  <%= erb :'home/partials/event_filter', { layout: false }, { event_type: event_type } %>
                <% end %>
              </div>
              <div class="ln_solid"></div>
              <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-5">
                  <div class="btn-group">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button"
                              data-toggle="dropdown" aria-expanded="false">
                        Add filter
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item add-stream-filter" href="javascript: void(0)">Add stream filter</a>
                        <a class="dropdown-item add-system-stream-filter" href="javascript: void(0)">Add system stream filter</a>
                        <a class="dropdown-item add-event-filter" href="javascript: void(0)">Add event filter</a>
                      </div>
                    </div>
                  </div>
                  <div class="btn-group">
                    <button type="submit" class="btn btn-success">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="x_title">
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <h2>
                  Events
                  <small id="total-count"><%= total_count(@collection.total_count) %></small>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="col-md-6 col-sm-12">
                <form class="form-horizontal form-label-left float-md-right">
                  <div class="form-group float-md-right">
                    <label class="control-label text-nowrap float-left mr-2" for="per_page_select">Per page</label>
                    <select class="page-link text-dark float-left" name="per_page" id="per_page_select">
                      <% PgEventstore::Web::Paginator::EventsCollection::PER_PAGE.keys.each do |per_page| %>
                        <option <%= 'selected="selected"' if params[:per_page] == per_page %> data-url="<%= per_page_url(per_page) %>">
                          <%= per_page %>
                        </option>
                      <% end %>
                    </select>
                    <button type="submit" class="d-none"></button>
                  </div>
                </form>
                <div class="float-md-right mt-2 mr-2">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="resolve-link-tos" class="control-label">
                        Resolve links
                        <input type="checkbox" id="resolve-link-tos" value="true" autocomplete="off" <% if resolve_link_tos? %> checked <% end %> data-url-checked="<%= resolve_link_tos_url(true) %>" data-url-unchecked="<%= resolve_link_tos_url(false) %>">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="float-md-right mt-2 mr-2">
                  <div class="form-group">
                    <div class="checkbox">
                      <label for="auto-refresh" class="control-label">
                        Auto refresh
                        <input type="checkbox" id="auto-refresh" value="true" autocomplete="off">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-md-end" id="pagination">
                    <%= erb :'home/partials/pagination_links', { layout: false }, { collection: @collection } %>
                  </ul>
                </nav>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="x_content table-responsive">
            <table class="table table-hover" id="events-table">
              <thead>
              <tr>
                <th>
                  Global position
                  <% if params[:order] == 'asc' %>
                    <a href="<%= sort_url('desc') %>"><i class="fa fa-sort-desc"></i></a>
                  <% else %>
                    <a href="<%= sort_url('asc') %>"><i class="fa fa-sort-asc"></i></a>
                  <% end %>
                </th>
                <th>Stream revision</th>
                <th>Context</th>
                <th>Stream name</th>
                <th>Stream ID</th>
                <th>Event type</th>
                <th>Created at(UTC)</th>
                <th>Event ID</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                <%= erb :'home/partials/events', { layout: false }, { events: @collection.collection } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-event-modal" tabindex="-1" role="dialog" aria-labelledby="delete-event-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body font-weight-bold text-break">
        <h5>
          You are about to delete Event on global position <span class="global-position-text"></span>. This action is irreversible. Continue?
        </h5>

        <form id="delete-event-form" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" method="POST">
          <input type="hidden" name="data[force]" value="false">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="force-delete" name="data[force]" autocomplete="off" value="true">
              Ignore limitations(see <a class="text-info" href="https://github.com/yousty/pg_eventstore/blob/main/docs/maintenance.md#deleting-an-event-in-a-large-stream" target="_blank" rel="noreferrer,nofollow">docs</a>).
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger" form="delete-event-form">Delete</button>
      </div>
    </div>
  </div>
</div>
