<% events.each do |event| %>
  <tr>
    <td><%= event.global_position %></td>
    <td><%= event.stream_revision %></td>
    <td><%= h event.stream.context %></td>
    <td><%= h event.stream.stream_name %></td>
    <td><a href="<%= stream_path(event) %>"><%= event.stream.stream_id %></a></td>
    <td>
      <p class="float-left"><%= h event.type %></p>
      <% if event.link %>
        <p class="float-left ml-2">
          <i class="fa fa-link"></i>
        </p>
      <% end %>
      <div class="clearfix"></div>
    </td>
    <td><%= event.created_at.strftime('%F %T') %></td>
    <td><%= event.id %></td>
    <td>
      <a href="javascript: void(0);" class="d-inline-block text-nowrap toggle-event-data">
        JSON <i class="fa fa-eye"></i>
      </a>
      <a href="javascript: void(0);" class="ml-2 btn btn-danger btn-small delete-event-btn" data-global-position="<%= event.global_position %>" data-url="<%= delete_event_url(event.global_position) %>" data-toggle="modal" data-target="#delete-event-modal">
        Delete
      </a>
    </td>
  </tr>
  <tr class="event-payload d-none">
    <td colspan="8">
      <strong>Data:</strong>
      <pre><%= h JSON.pretty_generate(event.data) %></pre>
      <strong>Metadata:</strong>
      <pre><%= h JSON.pretty_generate(event.metadata) %></pre>
    </td>
  </tr>
<% end %>
