<div class="form-row align-items-center">
  <div class="col-3">
    <select name="filter[streams][][context]" class="form-control mb-2" data-placeholder="Context" data-url="<%= url('/stream_contexts_filtering') %>">
      <option></option>
      <% if stream[:context] %>
        <option value="<%= stream[:context] %>" selected><%= stream[:context] %></option>
      <% end %>
    </select>
  </div>
  <div class="col-4">
    <select name="filter[streams][][stream_name]" class="form-control mb-2" data-placeholder="Stream name" data-url="<%= url('/stream_names_filtering') %>">
      <option></option>
      <% if stream[:stream_name] %>
        <option value="<%= stream[:stream_name] %>" selected><%= stream[:stream_name] %></option>
      <% end %>
    </select>
  </div>
  <div class="col-4">
    <select name="filter[streams][][stream_id]" class="form-control mb-2" data-placeholder="Stream ID" data-url="<%= url('/stream_ids_filtering') %>">
      <option></option>
      <% if stream[:stream_id] %>
        <option value="<%= stream[:stream_id] %>" selected><%= stream[:stream_id] %></option>
      <% end %>
    </select>
  </div>
  <div class="col-1">
    <a class="btn btn-default remove-filter" href="javascript: void(0);">
      <i class="fa fa-minus-circle"></i>
    </a>
  </div>
</div>
