<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Subscriptions</h3>
      </div>
      <div class="title_right">
        <div class="col-md-5 col-sm-5 form-group pull-right top_search">
          <div class="input-group">
            <select class="form-control" id="subscriptions-state" autocomplete="off">
              <option value="" data-url="<%= subscriptions_url %>" <% unless subscriptions_state %> selected <% end %>>All</option>
              <% PgEventstore::RunnerState::STATES.values.each do |state| %>
                <option value="<%= state %>" <% if state == subscriptions_state %> selected <% end %> data-url="<%= subscriptions_state_url(state: state) %>"><%= state.capitalize %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <ul class="nav nav-tabs bg-white">
      <% @set_collection.names.each do |set_name| %>
        <li class="nav-item">
          <a class="nav-link <%= "active bg-dark text-white" if @current_set == set_name %>" href="<%= subscriptions_state ? subscriptions_state_url(state: subscriptions_state, set_name: set_name) : subscriptions_url(set_name: set_name) %>">
            <%= h set_name %>
          </a>
        </li>
      <% end %>
    </ul>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="x_content">
            <ul class="nav nav-tabs bar_tabs" role="tablist">
              <% @association.association.each.with_index do |(subscriptions_set, _), index| %>
                <li class="nav-item">
                  <a class="nav-link set-tab <%= "active" if index.zero? %>" id="tab-<%= subscriptions_set.id || 'shutdown' %>" data-toggle="tab" href="#set-<%= subscriptions_set.id || 'shutdown' %>" role="tab" aria-controls="set-<%= subscriptions_set.id || 'shutdown' %>" aria-selected="true">
                    <%= subscriptions_set.id.nil? ? "Shutdown" : "Set ##{subscriptions_set.id}" %>
                  </a>
                </li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @association.association.each.with_index do |(subscriptions_set, subscriptions), index| %>
                <div class="table-responsive tab-pane fade show <%= "active" if index.zero? %>" id="set-<%= subscriptions_set.id || 'shutdown' %>" role="tabpanel" aria-labelledby="tab-<%= subscriptions_set.id || 'shutdown' %>">
                  <% if subscriptions_set.id %>
                    <div>
                      <h2>Subscriptions Set</h2>
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>ID</th>
                          <th>State</th>
                          <th>Restarts count</th>
                          <th>Max restarts number</th>
                          <th>Time between restarts</th>
                          <th>Last restarted at</th>
                          <th>Last error</th>
                          <th>Last error occurred at</th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><%= subscriptions_set.id %></td>
                            <td><%= colored_state(subscriptions_set.state, PgEventstore::SubscriptionsSetLifecycle::HEARTBEAT_INTERVAL, subscriptions_set.updated_at) %></td>
                            <td><%= subscriptions_set.restart_count %></td>
                            <td><%= subscriptions_set.max_restarts_number %></td>
                            <td><%= subscriptions_set.time_between_restarts %>s</td>
                            <td><%= subscriptions_set.last_restarted_at %></td>
                            <td>
                              <% if subscriptions_set.last_error %>
                                <a data-toggle="collapse" href="#last-set-error-<%= subscriptions_set.id %>" aria-controls="last-set-error-<%= subscriptions_set.id %>" role="button" aria-expanded="false" class="d-inline-block text-nowrap">
                                  JSON <i class="fa fa-eye"></i>
                                </a>
                              <% end %>
                            </td>
                            <td><%= subscriptions_set.last_error_occurred_at %></td>
                            <td>
                              <% if subscriptions_set.state == PgEventstore::RunnerState::STATES[:dead] %>
                                <a class="btn btn-success" data-method="post" href="<%= subscriptions_set_cmd_url(subscriptions_set.id, subscriptions_set_cmd('Restore')) %>">
                                  Restore
                                </a>
                              <% end %>
                              <% if PgEventstore::RunnerState::STATES.values_at(:running, :dead).include?(subscriptions_set.state) && alive?(PgEventstore::SubscriptionsSetLifecycle::HEARTBEAT_INTERVAL, subscriptions_set.updated_at) %>
                                <a class="btn btn-warning" data-confirm="You are about to stop SubscriptionsSet#<%= subscriptions_set.id %>. This will also delete it and will result in stopping all related Subscriptions. If you used pg_eventstore CLI to start subscriptions - the related process will also be stopped.  Continue?" data-confirm-title="Stop SubscriptionsSet" data-method="post" href="<%= subscriptions_set_cmd_url(subscriptions_set.id, subscriptions_set_cmd('Stop')) %>" data-toggle="tooltip" title="This action will delete Subscriptions Set and release all related Subscriptions.">
                                  Stop
                                </a>
                              <% end %>
                              <% unless alive?(PgEventstore::SubscriptionsSetLifecycle::HEARTBEAT_INTERVAL, subscriptions_set.updated_at) %>
                                <a class="btn btn-danger" data-confirm="You are about to delete SubscriptionsSet#<%= subscriptions_set.id %>. Continue?" data-confirm-title="Delete SubscriptionsSet" data-method="post" href="<%= url("/delete_subscriptions_set/#{subscriptions_set.id}") %>" data-toggle="tooltip" title="Use this action only on stuck Subscriptions Set - to clean it up.">
                                  Delete
                                </a>
                              <% end %>
                            </td>
                          </tr>
                          <% if subscriptions_set.last_error %>
                            <tr class="collapse" id="last-set-error-<%= subscriptions_set.id %>">
                              <td colspan="9">
                                <pre><%= h JSON.pretty_generate(subscriptions_set.last_error) %></pre>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  <% end %>
                  <div>
                    <div>
                      <div class="float-left">
                        <h2>Subscriptions list</h2>
                      </div>
                      <div class="float-right">
                        <% if subscriptions_set.id %>
                          <a class="btn btn-success" data-method="post" href="<%= subscriptions_set_cmd_url(subscriptions_set.id, subscriptions_set_cmd('StartAll')) %>">
                            Start All
                          </a>
                          <a class="btn btn-danger" data-confirm="You are about to stop all Subscriptions. Continue?" data-confirm-title="Stop all Subscriptions" data-method="post" href="<%= subscriptions_set_cmd_url(subscriptions_set.id, subscriptions_set_cmd('StopAll')) %>">
                            Stop All
                          </a>
                        <% else %>
                          <a class="btn btn-danger" data-confirm="You are about to delete all Subscriptions, listed on the page. Continue?" data-confirm-title="Delete all Subscriptions" data-method="post" href="<%= delete_all_subscriptions_url(subscriptions.map(&:id)) %>" data-toggle="tooltip" title="Delete all Subscriptions, displayed on the current page.">
                            Delete All
                          </a>
                        <% end %>
                      </div>
                    </div>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Total processed events</th>
                          <th>Options</th>
                          <th>Current position</th>
                          <th>Pull interval</th>
                          <th>Last event arrived at</th>
                          <th>State</th>
                          <th>Performance</th>
                          <th>Restarts count</th>
                          <th>Max restarts number</th>
                          <th>Time between restarts</th>
                          <th>Last restarted at</th>
                          <th>Last error</th>
                          <th>Last error occurred at</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% subscriptions.each do |subscription| %>
                          <tr>
                            <td><%= subscription.id %></td>
                            <td><%= h subscription.name %></td>
                            <td><%= subscription.total_processed_events %></td>
                            <td>
                              <a data-toggle="collapse" href="#options-<%= subscription.id %>" aria-controls="options-<%= subscription.id %>" role="button" aria-expanded="false" class="d-inline-block text-nowrap">
                                JSON <i class="fa fa-eye"></i>
                              </a>
                            </td>
                            <td><%= subscription.current_position %></td>
                            <td><%= subscription.chunk_query_interval %>s</td>
                            <td><%= subscription.last_chunk_fed_at if subscription.last_chunk_fed_at > PgEventstore::Subscription::DEFAULT_TIMESTAMP %></td>
                            <td><%= colored_state(subscription.state, PgEventstore::SubscriptionsLifecycle::HEARTBEAT_INTERVAL, subscription.updated_at) %></td>
                            <td>
                              <% if subscription.average_event_processing_time %>
                                <%= "#{(1 / subscription.average_event_processing_time).to_i}/s" %>
                              <% end %>
                            </td>
                            <td><%= subscription.restart_count %></td>
                            <td><%= subscription.max_restarts_number %></td>
                            <td><%= subscription.time_between_restarts %>s</td>
                            <td><%= subscription.last_restarted_at %></td>
                            <td>
                              <% if subscription.last_error %>
                                <a data-toggle="collapse" href="#last-error-<%= subscription.id %>" aria-controls="last-error-<%= subscription.id %>" role="button" aria-expanded="false" class="d-inline-block text-nowrap">
                                  JSON <i class="fa fa-eye"></i>
                                </a>
                              <% end %>
                            </td>
                            <td><%= subscription.last_error_occurred_at %></td>
                            <td>
                              <% if subscriptions_set.id %>
                                <% if subscription.state == PgEventstore::RunnerState::STATES[:stopped] %>
                                  <a class="btn btn-success" data-method="post" href="<%= subscription_cmd_url(subscriptions_set.id, subscription.id, subscription_cmd('Start')) %>">
                                    Start
                                  </a>
                                  <a class="btn btn-warning" href="#" data-toggle="modal" data-target="#reset-position-modal" data-subscription-name="<%= h subscription.name %>" data-url="<%= subscription_cmd_url(subscriptions_set.id, subscription.id, subscription_cmd('ResetPosition')) %>">
                                    Reset position
                                  </a>
                                <% end %>
                                <% if PgEventstore::RunnerState::STATES.values_at(:running, :dead).include?(subscription.state) %>
                                  <a class="btn btn-warning" data-method="post" href="<%= subscription_cmd_url(subscriptions_set.id, subscription.id, subscription_cmd('Stop')) %>">
                                    Stop
                                  </a>
                                <% end %>
                                <% if subscription.state == PgEventstore::RunnerState::STATES[:dead] %>
                                  <a class="btn btn-success" data-method="post" href="<%= subscription_cmd_url(subscriptions_set.id, subscription.id, subscription_cmd('Restore')) %>">
                                    Restore
                                  </a>
                                <% end %>
                              <% end %>
                              <% unless subscriptions_set.id %>
                                <a class="btn btn-danger" data-confirm="You are about to delete <%= h subscription.name.inspect %> Subscription. Continue?" data-confirm-title="Delete Subscription" data-method="post" href="<%= url("/delete_subscription/#{subscription.id}") %>" data-toggle="tooltip" title="You will lose the Subscription's position as well.">
                                  Delete
                                </a>
                              <% end %>
                            </td>
                          </tr>
                          <tr class="collapse" id="options-<%= subscription.id %>">
                            <td colspan="16" class="json-cell">
                              <pre><%= h JSON.pretty_generate(subscription.options) %></pre>
                            </td>
                          </tr>
                          <% if subscription.last_error %>
                            <tr class="collapse" id="last-error-<%= subscription.id %>">
                              <td colspan="16" class="json-cell">
                                <pre><%= h JSON.pretty_generate(subscription.last_error) %></pre>
                              </td>
                            </tr>
                          <% end %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="reset-position-modal" tabindex="-1" role="dialog" aria-labelledby="reset-position-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Reset Subscription's position</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body font-weight-bold text-break">
        <span>Reset position of</span><pre class="subscription-name"></pre><span>Subscription?</span>
        <form id="reset-position-form" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" method="POST">
          <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="subscription-position">Position <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              <input type="number" id="subscription-position" name="data[position]" required="required" autocomplete="off" value="0" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" form="reset-position-form">Reset</button>
      </div>
    </div>
  </div>
</div>
